.titulos{
    width: fit-content;
    border-bottom: 7px rgb(243, 227, 2) solid;
    margin: 0 auto;
}

.miniatura{
    /* comportamento inline-block que continua semelhante
    a texto porém reconhece margens e dimensões */
    display: inline-block;
    margin: 5px;
}
.miniatura img{
    width: 150px;
}

body{
    font-family: 'Oswald', sans-serif;
}

#meus-trabalhos{
    background-color: floralwhite;
    
}